<skin minWidth="300" minHeight="500">

  <layout>
      <vertical-layout gap="0"></vertical-layout>
  </layout>

  <group id="headerGroup" width="100%" height="60">
      <layout>
          <horizontal-layout gap="20" verticalAlign="middle"></horizontal-layout>
      </layout>

      <img id="logo" src="images/testProfilePic.png" width="60" height="100%" >
      <module-navigator id="mainModuleNavigator" width="100%"></module-navigator>
      <group width="100" height="100%"></group>
  </group>

  <module-navigation-container id="mainModuleNavigationContainer" width="100%" height="100%"></module-navigation-container>
</skin>
